<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Lapor !</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="light">
    <div>
    <form [formGroup]="createForm" (submit)="createList()">
      <ion-item>
        <ion-label position="floating">Nama</ion-label>
        <ion-input formControlName="nama" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Perihal</ion-label>
        <ion-input formControlName="perihal" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Laporan</ion-label>
        <ion-input formControlName="laporan" type="text"></ion-input>
      </ion-item>
      <ion-button color="primary" expand="block" type="submit">Tambah Laporan</ion-button>
    </form>
    </div>
  </ion-content>
