<ion-header>
  <ion-toolbar color="light">
    <ion-button (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
    <ion-title>Lapor !</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/adds">
    <ion-fab-button color="dark">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card *ngFor="let data of laporan" (click)="delete(data.key)" color="light">
    <ion-card-header>
      <ion-card-subtitle>{{data.nama}}</ion-card-subtitle>
      <ion-card-title>{{data.perihal}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{data.laporan}}
    </ion-card-content>
  </ion-card>
</ion-content>
